<option {{ ctx.selected ? 'selected="selected"' : '' }}
  value="{{ctx.useId ? ctx.id : ctx.option.value}}"
  {% for (var attr in ctx.attrs) { %}
  {{attr}}="{{ctx.attrs[attr]}}"
  {% } %}
  >
  {{ctx.t(ctx.option.label)}}
</option>
