<div class="formio-dialog formio-dialog-theme-default component-settings">
  <div class="formio-dialog-overlay" ref="dialogOverlay"></div>
  <div class="formio-dialog-content" ref="dialogContents" role="dialog">
    <div ref="dialogContents"></div>
    <button class="formio-dialog-close float-end btn-sm" aria-label="Close modal window." ref="dialogClose"></button>
  </div>
</div>
