<h4 class="ui top attached block header {{ctx.component.className}}" ref="header">
  {% if (ctx.component.collapsible) { %}
    <i class="formio-collapse-icon {{ctx.iconClass(ctx.collapsed ? 'plus-square-o' : 'minus-square-o')}} text-muted" data-title="Collapse Panel"></i>
  {% } %}
  {{ctx.t(ctx.component.title)}}
  {% if (ctx.component.tooltip) { %}
    <i ref="tooltip" class="{{ctx.iconClass('question-sign')}} text-muted"></i>
  {% } %}
</h4>
{% if (!ctx.collapsed || ctx.builder) { %}
<div class="ui bottom attached segment" ref="{{ctx.nestedKey}}">
  {{ctx.children}}
</div>
{% } %}
