{% ctx.component.columns.forEach(function(column, index) { %}
<div class="col
    col-sm-{{ctx.column.width}}
    col-sm-offset-{{ctx.column.offset}}
    col-sm-push-{{ctx.column.push}}
    col-sm-pull-{{ctx.column.pull}}
  " ref="{{ctx.columnKey}}">
  {{ctx.columnComponents[index]}}
</div>
{% }) %}
