<div class="formio builder ui grid formbuilder">
  <div class="four wide column formcomponents">
    {{ctx.sidebar}}
  </div>
  <div class="twelve wide column formarea">
    <div class="ui breadcrumb" style="margin-bottom: 0.5em">
      {% ctx.pages.forEach(function(page, pageIndex) { %}
        <div title="{{page.title}}" class="{% if (pageIndex === ctx.self.page) { %} active section {% } else { %} section {% } %} wizard-page-label" ref="gotoPage">{{page.title}}</div>
        <div class="divider">/</div>
      {% }) %}
      <div title="{{ctx.t('Create Page')}}" class="section wizard-page-label" ref="addPage"><i class="{{ctx.iconClass('plus')}}"></i> {{ctx.t('Page')}}</div>
    </div>
    <div ref="form">
      {{ctx.form}}
    </div>
  </div>
</div>
