{% if (ctx.label.labelPosition !== 'bottom' && ctx.component.type !== 'checkbox') { %}
  {{ ctx.render('label', ctx) }}
{% } %}
{{ctx.element}}
{% if (ctx.label.labelPosition === 'bottom') { %}
  <label class="{{ctx.label.className}} {{ctx.label.hidden ? 'sr-only' : ''}}" for="{{ctx.instance.id}}-{{ctx.component.key}}">{{ctx.t(ctx.component.label)}}
  {% if (ctx.component.tooltip) { %}
    <i role="tooltip" ref="tooltip" class="{{ctx.iconClass('question-sign')}} text-muted"></i>
  {% } %}
  </label>
{% } %}
{% if (ctx.component.description) { %}
  <div class="form-text text-muted">
    <span id="d-{{ctx.instance.id}}-{{ctx.component.key}}">{{ctx.t(ctx.component.description)}}</span>
  </div>
{% } %}
