<div ref="nodeForm" class="node-form">
  {{children}}
  <div ref="nodeFormActons" class="node-form-actions">
    <div class="clearfix">
      <button ref="formActionSave" class="btn btn-primary saveNode">{{t('Save')}}</button>
      <button ref="formActionCancel" class="btn btn-danger cancelNode">{{t('Cancel')}}</button>
    </div>
  </div>
</div>
