<div id="sideBarPopOver" class="col-xs-5 col-sm-4 col-md-3 formio-dialog formio-dialog-theme-default component-settings">
  <div class="formio-dialog-overlay" ref="dialogOverlay"></div>
  <div class="col-xs-5 col-sm-4 col-md-3 formio-dialog-content" ref="dialogContents">
    <div ref="dialogContents"></div>
    <button class="formio-dialog-close float-right btn btn-secondary btn-sm" aria-label="close" ref="dialogClose"></button>

  </div>
  <div id="sideBarPopOverChild" style="z-index: 1000; display: flex; align-items: center;">
    <button style="padding: 15px 2px; cursor: col-resize;">||</button>
  </div>
