.formio-form {
  position: relative;
  min-height: 80px;
}

.formio-wysiwyg-editor {
  min-height: 200px;
  background-color: #fff;
}

.has-error.bg-danger {
  padding: 4px;
}

.ql-source:after {
  content: "[source]";
}

.quill-source-code {
  width: 100%;
  margin: 0px;
  background: rgb(29, 29, 29);
  box-sizing: border-box;
  color: rgb(204, 204, 204);
  font-size: 15px;
  outline: none;
  padding: 20px;
  line-height: 24px;
  font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
  position: absolute;
  top: 0;
  bottom: 0;
  border: none;
  display:none;
}

.field-required:after {
  content:" *";
  color:red;
}

.glyphicon-spin {
  -webkit-animation: formio-spin 1s infinite linear;
  -moz-animation: formio-spin 1s infinite linear;
  -o-animation: formio-spin 1s infinite linear;
  animation: formio-spin 1s infinite linear;
}

@-moz-keyframes formio-spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes formio-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes formio-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-icon-right {
  margin-left: 5px;
}

.form-control.flatpickr-input {
  background-color: #fff;
}

td > .form-group {
  margin-bottom: 0;
}

.signature-pad {
  position: relative;
}

.signature-pad-body {
  overflow: hidden;
}

.signature-pad-canvas {
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
  border: 1px solid #f4f4f4;
}

.btn.signature-pad-refresh {
  position:absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  padding: 3px;
  line-height: 0;
}

.choices__list--dropdown .choices__item--selectable{
  padding-right: 0px;
}

.signature-pad-refresh img {
  height: 1.2em;
}

.signature-pad-footer {
  text-align: center;
  color: #C3C3C3;
}

.loader-wrapper {
  z-index: 1000;
  position:absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color:rgba(0, 0, 0, 0.1);
}

.loader {
  position:absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  z-index: 10000;
  display: inline-block;
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.choices__list--dropdown {
  z-index: 100;
}

.choices__list--multiple .choices__item {
  border-radius: 0;
  padding: 2px 8px;
  line-height: 1em;
  margin-bottom: 6px;
}

.choices__list--single {
  padding: 0;
}

.choices__input {
  padding: 2px;
}

.formio-component-file .fileSelector {
  padding: 15px;
  border: 2px dashed #ddd;
  text-align: center;
}

.formio-component-file .fileSelector.fileDragOver {
  border-color: #127abe;
}

.formio-component-file .fileSelector .glyphicon {
  font-size: 20px;
  margin-right: 5px;
}

.formio-dialog {
  width: 65%;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 5px;
}

.formio-placeholder {
  position:absolute;
  color: #999;
}

.formio-dialog-close {
  cursor: pointer;
  margin-bottom: 10px;
}

.formio-iframe {
  border: none;
  width: 100%;
  height: 1000px;
}

.inline-form-button {
  margin-right: 10px;
}
