<div class="row">
  <div class="col col-sm-12">
    <p class="lead">{{ctx.t('Form')}}</p>
  </div>
</div>
<div class="row">
  <div class="col col-sm-12" ref="editFormWrapper">
    <div ref="editForm">
      {{ctx.editForm}}
    </div>
    <div class="edit-form-action-buttons">
      <button class="btn btn-success" style="margin-right: 10px;" ref="saveButton">{{ctx.t('Save')}}</button>
      <button class="btn btn-secondary" ref="cancelButton">{{ctx.t('Cancel')}}</button>
    </div>
  </div>
</div>
