<nav aria-label="Wizard navigation" id="{{ ctx.wizardKey }}-header" ref="{{ctx.wizardKey}}-header">
  <ul class="pagination" role="tablist">
    {% ctx.panels.forEach(function(panel, index) { %}
    <li class="page-item{{ctx.currentPage === index ? ' active' : ''}}" style="cursor: pointer;">
      <button tabindex="0" data-index="{{index}}" role="tab" class="page-link" ref="{{ctx.wizardKey}}-link">
        {{ctx.t(panel.title, { _userInput: true })}}
        {% if (panel.tooltip && ctx.currentPage === index) { %}
        <i ref="{{ctx.wizardKey}}-tooltip" class="{{ctx.iconClass('question-sign')}} text-muted" data-tooltip="{{panel.tooltip}}"></i>
        {% } %}
      </button>
    </li>
    {% }) %}
  </ul>
</nav>
