<div
  {% for (var attr in ctx.attrs) { %}
    {{attr}}="{{ctx.attrs[attr]}}"
  {% } %}
>
  {{ctx.message}}
  {% if (ctx.options.vpat) { %}
    <span class="visually-hidden" id="hotkey-i-{{ctx.form._id}}">{{ctx.t('errorListHotkey')}}</span>
  {% } %}
</div>
