<div class="panel panel-default form-builder-panel" ref="group-panel-{{ctx.groupKey}}">
  <div class="panel-heading form-builder-group-header">
    <h5 class="panel-title">
      <button
        class="btn btn-block builder-group-button"
        type="button"
        data-toggle="collapse"
        data-target="#group-{{ctx.groupKey}}"
        data-parent="#{{ctx.groupId}}"
        href="#group-{{ctx.groupKey}}"
        ref="sidebar-anchor"
      >
        {{ctx.t(ctx.group.title)}}
      </button>
    </h5>
  </div>
  <div
    id="group-{{ctx.groupKey}}"
    class="panel-collapse collapse{{ctx.group.default ? ' in' : ''}}"
    data-parent="#{{ctx.groupId}}"
    data-default="{{ctx.group.default}}"
    ref="sidebar-group"
  >
    <div id="group-container-{{ctx.groupKey}}" class="panel-body no-drop" ref="sidebar-container">
      {% ctx.group.componentOrder.forEach(function(componentKey) { %}
      <span
        data-group="{{ctx.groupKey}}"
        data-key="{{ctx.group.components[componentKey].key}}"
        data-type="{{ctx.group.components[componentKey].schema.type}}"
        class="btn btn-primary btn-xs btn-block formcomponent drag-copy"
      >
        {% if (ctx.group.components[componentKey].icon) { %}
          <i class="{{ctx.iconClass(ctx.group.components[componentKey].icon)}}" style="margin-right: 5px;"></i>
        {% } %}
        {{ctx.t(ctx.group.components[componentKey].title)}}
      </span>
      {% }) %}
      {{ctx.subgroups.join('')}}
    </div>
  </div>
</div>

