<div class="formio builder row formbuilder">
  <div class="loader-wrapper" ref="sidebar-loader"><div class="loader text-center"></div></div>
  <div class="col-xs-4 col-sm-3 col-md-2 formcomponents">
    {{ctx.sidebar}}
  </div>
  <div class="col-xs-8 col-sm-9 col-md-10 formarea" ref="form">
	  <div class="formio-drop-zone" ref="iframeDropzone"></div>
    {{ctx.form}}
  </div>
</div>
