<div class="pdf-upload formio-component-file">
  <h3 class="label">{{ctx.t('Upload a PDF File')}}</h3>
  <input type="file" style="opacity: 0; position: absolute;" tabindex="-1" accept=".pdf" ref="hiddenFileInputElement">
  <div class="fileSelector" ref="fileDrop">
    <span ref="dragDropText">
      <i class="{{ctx.iconClass('cloud-upload')}}"></i>{{ctx.t('Drop pdf to start, or')}} <a href="#" ref="fileBrowse" class="browse">{{ctx.t('browse')}}</a>
    </span>
    <div class="progress pdf-progress" ref="uploadProgressWrapper" style="display:none;">
      <div class="progress-bar" ref="uploadProgress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div class="alert alert-danger" ref="uploadError">

  </div>
</div>

