<tr ref="row">
  <td>
    {{ctx.element}}
  </td>
  {% if (!ctx.disabled) { %}
  <td>
    <button type="button" class="btn btn-secondary" ref="removeRow">
      <i class="{{ctx.iconClass('remove-circle')}}"></i>
    </button>
  </td>
  {% } %}
</tr>
