<p>{{ctx.t('error')}}</p>
<ul>
  {% ctx.errors.forEach(function(err) { %}
  <li>
    <span
      data-component-key = "{{err.keyOrPath}}"
      ref = "errorRef"
      tabIndex = "0"
      role="link"
    >
      {{err.message}}
    </span>
  </li>
  {% }) %}
</ul>
