<div class="editgrid-listgroup ui celled list">
  {% if (ctx.header) { %}
  <div class="item list-group-header">
    {{ctx.header}}
  </div>
  {% } %}
  {% ctx.rows.forEach(function(row, rowIndex) { %}
  <div class="item" ref="{{ctx.editgridKey}}">
    {{row}}
    {% if (ctx.openRows[rowIndex] && !ctx.readOnly) { %}
    <div class="editgrid-actions">
      <button class="ui button primary" ref="{{ctx.editgridKey}}-saveRow">{{ctx.t(ctx.component.saveRow || 'Save')}}</button>
      {% if (ctx.component.removeRow) { %}
      <button class="ui button secondary" ref="{{ctx.editgridKey}}-cancelRow">{{ctx.t(ctx.component.removeRow || 'Cancel')}}</button>
      {% } %}
    </div>
    {% } %}
    <div class="has-error">
      <div class="editgrid-row-error help-block">
        {{ctx.errors[rowIndex]}}
      </div>
    </div>
  </div>
  {% }) %}
  {% if (ctx.footer) { %}
  <div class="item list-group-footer">
    {{ctx.footer}}
  </div>
  {% } %}
</div>
{% if (!ctx.readOnly && ctx.hasAddButton) { %}
<button class="ui button primary" ref="{{ctx.editgridKey}}-addRow">
  <i class="{{ctx.iconClass('plus')}}"></i> {{ctx.t(ctx.component.addAnother || 'Add Another')}}
</button>
{% } %}
