{% ctx.component.columns.forEach(function(column, index) { %}
<div class="
    col-md-{{column.width}}
    col-md-offset-{{column.offset}}
    col-md-push-{{column.push}}
    col-md-pull-{{column.pull}}
  " ref="{{ctx.columnKey}}">
  {{ctx.columnComponents[index]}}
</div>
{% }) %}
