{% ctx.component.columns.forEach(function(column, index) { %}
<div class="
    col-{{column.size}}-{{column.currentWidth}}
    col-{{column.size}}-offset-{{column.offset}}
    col-{{column.size}}-push-{{column.push}}
    col-{{column.size}}-pull-{{column.pull}}
  " ref="{{ctx.columnKey}}">
  {{ctx.columnComponents[index]}}
</div>
{% }) %}
