<div class="row">
  <div class="col col-sm-6">
    <p class="lead">{{ctx.t(ctx.componentInfo.title)}} {{ctx.t('Component')}}</p>
  </div>
  <div class="col col-sm-6">
    <div class="float-right" style="margin-right: 20px; margin-top: 10px">
      <a href="{{ctx.t(ctx.componentInfo.documentation)}}" target="_blank">
        <i class="{{ctx.iconClass('new-window')}}"></i> {{ctx.t('Help')}}
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col {% if (ctx.sidebarForm) { %}col-sm-6{% } else { %}col-sm-12{% } %}" ref="editFormWrapper">
    <div ref="editForm">
      {{ctx.editForm}}
    </div>
    <div class="edit-form-action-buttons">
      <button class="btn btn-success" style="margin-right: 10px;" ref="saveButton">{{ctx.t('Save')}}</button>
      <button class="btn btn-secondary" style="margin-right: 10px;" ref="cancelButton">{{ctx.t('Cancel')}}</button>
      <button class="btn btn-danger" ref="removeButton">{{ctx.t('Remove')}}</button>
    </div>
  </div>
  {% if (ctx.sidebarForm) { %}
  <div class="col col-sm-6" ref="sidebarFormWrapper">
    <div ref="sidebarForm">
      {{ctx.sidebarForm}}
    </div>
    <div class="edit-form-action-buttons">
      <button class="btn btn-success" style="margin-right: 10px;" ref="saveButton">{{ctx.t('Save')}}</button>
      <button class="btn btn-secondary" style="margin-right: 10px;" ref="cancelButton">{{ctx.t('Cancel')}}</button>
      <button class="btn btn-danger" ref="removeButton">{{ctx.t('Remove')}}</button>
    </div>
  </div>
  {% } %}
</div>
