<div class="ui checkbox">
  <{{ctx.input.type}}
    ref="input"
    id="{{ctx.id}}"
    {% for (var attr in ctx.input.attr) { %}
    {{attr}}="{{ctx.input.attr[attr]}}"
    {% } %}
    {% if (ctx.checked) { %}checked=true{% } %}
    >
  </{{ctx.input.type}}>
  <label class="{{ctx.input.labelClass}}" for="{{ctx.id}}">
    {{ctx.input.content}}
    {% if (!ctx.self.labelIsHidden()) { %}<span>{{ctx.input.label}}</span>{% } %}
    {% if (ctx.tooltip) { %}
      <span data-tooltip="{{ctx.tooltip}}" data-position="right center">
          <i class="{{ctx.iconClass('question-sign')}}"></i>
      </span>
    {% } %}
  </label>
</div>
