<fieldset>
  {% if (ctx.component.legend) { %}
  <legend ref="header" class="{{ctx.component.collapsible ? 'formio-clickable' : ''}}">
    {{ctx.t(ctx.component.legend, { _userInput: true })}}
    {% if (ctx.component.tooltip) { %}
      <i ref="tooltip" tabindex="0" class="{{ctx.iconClass('question-sign')}} text-muted" data-tooltip="{{ctx.component.tooltip}}"></i>
    {% } %}
  </legend>
  {% } %}
  {% if (!ctx.collapsed) { %}
  <div class="fieldset-body" ref="{{ctx.nestedKey}}">
    {{ctx.children}}
  </div>
  {% } %}
</fieldset>
