<div class="row">
  {% util.eachComponent(components, function(component) { %}
    <div class="col-sm-2">
      {{ getView(component, nodeData[component.key]) }}
    </div>
  {% }) %}
  <div class="col-sm-3">
    <div class="btn-group pull-right">
      <button class="btn btn-default btn-sm toggleNode">{{ collapseText(node) }}</button>
      {% if (!instance.options.readOnly) { %}
        <button class="btn btn-default btn-sm addChild">Add</button>
        <button class="btn btn-default btn-sm editNode">Edit</button>
        <button class="btn btn-danger btn-sm removeNode">Delete</button>
        {% if (node.revertAvailable) { %}
          <button class="btn btn-danger btn-sm revertNode">Revert</button>
        {% } %}
      {% } %}
    </div>
  </div>
</div>
