<tr ref="row">
  <td>
    {{ctx.element}}
  </td>
  {% if (!ctx.disabled) { %}
  <td>
    <button type="button" class="ui icon button secondary" ref="removeRow">
      <i class="trash icon"></i>
    </button>
  </td>
  {% } %}
</tr>
