<div class="editgrid-listgroup list-group
    {{ ctx.component.striped ? 'table-striped' : ''}}
    {{ ctx.component.bordered ? 'table-bordered' : ''}}
    {{ ctx.component.hover ? 'table-hover' : ''}}
    {{ ctx.component.condensed ? 'table-sm' : ''}}"
    role="grid"
    aria-labelledby="l-{{ctx.instance.id}}-{{ctx.component.key}} 
    {% if (ctx.component.description) { %}d-{{ctx.instance.id}}-{{ctx.component.key}}{% } %}"
>
  {% if (ctx.header) { %}
  <div role="presentation" class="list-group-item list-group-header">
    {{ctx.header}}
  </div>
  {% } %}
  {% ctx.rows.forEach(function(row, rowIndex) { %}
  <div role="presentation" class="list-group-item" ref="{{ctx.ref.row}}">
    {{row}}
    {% if (ctx.openRows[rowIndex] && !ctx.readOnly) { %}
    <div class="editgrid-actions">
      <button class="btn btn-primary" ref="{{ctx.ref.saveRow}}">{{ctx.t(ctx.component.saveRow || 'Save', { _userInput: true })}}</button>
      {% if (ctx.component.removeRow) { %}
      <button class="btn btn-danger" ref="{{ctx.ref.cancelRow}}">{{ctx.t(ctx.component.removeRow || 'Cancel', { _userInput: true })}}</button>
      {% } %}
    </div>
    {% } %}
    <div class="has-error">
      <div class="editgrid-row-error">
        {{ctx.errors[rowIndex]}}
      </div>
    </div>
  </div>
  {% }) %}
  {% if (ctx.footer) { %}
  <div class="list-group-item list-group-footer">
    {{ctx.footer}}
  </div>
  {% } %}
</div>
{% if (!ctx.readOnly && ctx.hasAddButton) { %}
<button class="btn btn-primary" ref="{{ctx.ref.addRow}}">
  <i class="{{ctx.iconClass('plus')}}"></i> {{ctx.t(ctx.component.addAnother || 'Add Another', { _userInput: true })}}
</button>
{% } %}
{% if (ctx.options.vpat) { %}
<span class="sr-only" aria-live="polite" ref="editGridLiveRegion"></span>
{% } %}

