<div class="ui grid">
  <div class="eight wide column">
    <h3 class="lead">{{ctx.t(ctx.componentInfo.title)}} {{ctx.t('Component')}}</h3>
  </div>
  <div class="eight wide column">
    <div class="right floated" style="margin-right: 20px; margin-top: 10px">
      <a href="{{ctx.componentInfo.documentation}}" target="_blank">
        <i class="{{ctx.iconClass('new-window')}}"> {{ctx.t('Help')}}</i>
      </a>
    </div>
  </div>
</div>
<div class="ui grid">
  <div class="{% if (ctx.preview) { %}eight{% } else { %}sixteen{% } %} wide column">
    <div ref="editForm">
        {{ctx.editForm}}
    </div>
    {% if (!ctx.preview) { %}
    <div style="margin-top: 10px;">
      <button class="ui button primary" style="margin-right: 10px;" ref="saveButton">{{ctx.t('Save')}}</button>
      <button class="ui button default" style="margin-right: 10px;" ref="cancelButton">{{ctx.t('Cancel')}}</button>
      <button class="ui button negative" ref="removeButton">{{ctx.t('Remove')}}</button>
    </div>
    {% } %}
  </div>
  {% if (ctx.preview) { %}
  <div class="eight wide column">
    <div class="ui top attached block header">
      {{ctx.t('Preview')}}
    </div>
    <div class="ui bottom attached segment" ref="preview">
      {{ctx.preview}}
    </div>
    {% if (ctx.componentInfo.help) { %}
    <div class="ui secondary segment formio-settings-help">
      {{ ctx.componentInfo.help }}
    </div>
    {% } %}
    <div style="margin-top: 10px;">
      <button class="ui button primary" style="margin-right: 10px;" ref="saveButton">{{ctx.t('Save')}}</button>
      <button class="ui button default" style="margin-right: 10px;" ref="cancelButton">{{ctx.t('Cancel')}}</button>
      <button class="ui button negative" ref="removeButton">{{ctx.t('Remove')}}</button>
    </div>
  </div>
  {% } %}
</div>
