<div class="panel panel-{{ctx.component.theme}}">
  <div class="panel-heading" ref="header">
    <h4 class="mb-0 panel-title">
      {% if (ctx.component.collapsible) { %}
        <i class="formio-collapse-icon {{ctx.iconClass(ctx.collapsed ? 'plus' : 'minus')}} text-muted" data-title="Collapse Panel"></i>
      {% } %}
      {{ctx.t(ctx.component.title)}}
      {% if (ctx.component.tooltip) { %}
        <i ref="tooltip" class="{{ctx.iconClass('question-sign')}} text-muted"></i>
      {% } %}
    </h4>
  </div>
  {% if (!ctx.collapsed || ctx.builder) { %}
  <div class="panel-body" ref="{{ctx.nestedKey}}">
    {{ctx.children}}
  </div>
  {% } %}
</div>
