<div class="formio-tagpad-container clearfix">
  <div ref="canvasContainer" class="formio-tagpad-image-container">
      <div ref="background" class="formio-tagpad-background">
        {% if (!ctx.component.image && !ctx.component.imageUrl) { %}
            Background image is not specified. Tagpad doesn\'t work without background image
        {% } %}
        {% if (ctx.component.imageUrl && !(ctx.component.imageType === 'svg')) { %}
            <img src={{ctx.component.imageUrl}} ref="image" alt="" width="100%"/>
        {% } %}
      </div>
      <div ref="canvas" class="formio-tagpad-canvas"></div>
  </div>
  <div ref="formContainer" class="formio-tagpad-form-container">
      <div class="formio-tagpad-form">
        {% if (ctx.selectedDot) { %}
          <p class="formio-tagpad-form-title">Dot: {{ctx.selectedDot.index + 1}}</p>
          <div  ref="form">{{ctx.components}}</div>          
          {% if (ctx.buttons.removeDot) { %}
            <button class="btn btn-sm btn-danger formio-tagpad-remove-button" ref="removeDot">
              <i class="fa fa-trash"></i>
            </button>
          {% } %}
        {% } else if (ctx.hasDots) { %}
          <p class="formio-tagpad-form-title">No dot selected</p>
        {% } %}
      </div>
  </div>
</div>
