<label id="l-{{ctx.component.key}}" class="control-label">{{ ctx.t(ctx.component.label, { _userInput: true }) }}</label><br>
<button lang='en' class='btn btn-light btn-md open-modal-button form-control' ref='openModal' aria-labelledby='l-{{ctx.component.key}}'>
  {{ ctx.previewText }}
</button>
<div class="formio-errors invalid-feedback">
  {{ ctx.messages }}
</div>
