<div
  class="alert alert-info no-drag"
  style="text-align:center; margin-bottom: 5px;"
  role="alert"
  data-noattach="true"
  data-position="{{position}}"
>
  Drag and Drop a form component
</div>
