<{{ctx.input.type}}
  ref="button"
  class="ui button {{ctx.transform('theme', ctx.component.theme)}} {{ctx.component.customClass}}"
  {% for (var attr in ctx.input.attr) { %}
  {{attr}}="{{ctx.input.attr[attr]}}"
  {% } %}
>
{% if (ctx.component.leftIcon) { %}<i class="{{ctx.component.leftIcon}}"></i>&nbsp;{% } %}
{{ctx.input.content}}
{% if (ctx.component.rightIcon) { %}&nbsp;<i class="{{ctx.component.rightIcon}}"></i>{% } %}
</{{ctx.input.type}}>
<div ref="buttonMessageContainer">
  <span class="help-block" ref="buttonMessage"></span>
</div>
