<table class="ui table
    {{ ctx.component.striped ? 'striped' : ''}}
    {{ ctx.component.bordered ? 'celled' : ''}}
    {{ ctx.component.hover ? 'selectable' : ''}}
    {{ ctx.component.condensed ? 'compact' : 'padded'}}
  ">
  {% if (ctx.component.header && ctx.component.header.length > 0) { %}
  <thead>
    <tr>
      {% ctx.component.header.forEach(function(header) { %}
      <th>{{ctx.t(header)}}</th>
      {% }) %}
    </tr>
  </thead>
  {% } %}
  <tbody>
    {% ctx.tableComponents.forEach(function(row, rowIndex) { %}
    <tr ref="row-{{ctx.id}}">
      {% row.forEach(function(column, colIndex) { %}
      <td ref="{{ctx.tableKey}}-{{ctx.rowIndex}}"{% if (ctx.cellClassName) { %} class="{{ctx.cellClassName}}"{% } %}>{{column}}</td>
      {% }) %}
    </tr>
    {% }) %}
  </tbody>
</table>
