<div class="formio-dialog formio-dialog-theme-default formio-modaledit-dialog">
  <div ref="overlay" class="formio-dialog-overlay"></div>
  <div ref="content" class="formio-modaledit-content">
    <button
      ref="close"
      type="button"
      role="button"
      class="btn btn-primary btn-xs formio-modaledit-close">
      {{ctx.t('Close')}}
    </button>
    <div ref="inner" class="reset-margins"></div>
  </div>
</div>
