<div class="{{ctx.classes}}" ref="webform">
	<span ref="zoomIn" style="position:absolute;right:10px;top:10px;cursor:pointer;" class="btn btn-default btn-secondary no-disable">
		<i class="{{ ctx.iconClass('zoom-in') }}"></i>
	</span>
	<span ref="zoomOut" style="position:absolute;right:10px;top:60px;cursor:pointer;" class="btn btn-default btn-secondary no-disable">
		<i class="{{ ctx.iconClass('zoom-in') }}"></i>
	</span>
  <div ref="iframeContainer"></div>
  <button type="button" class="btn btn-primary" ref="submitButton">{{ctx.t('Submit')}}</button>
</div>
