<div class="form-radio radio" role="{{ctx.component.type === 'selectboxes' ? 'group' : 'radiogroup'}}"
  aria-labelledby="l-{{ctx.instance.id}}-{{ctx.component.key}}"
  aria-describedby="d-{{ctx.instance.id}}-{{ctx.component.key}}">
  {% ctx.values.forEach(function(item) { %}
  <div class="form-check{{ctx.inline ? '-inline' : ''}}" ref="wrapper">
    {% if (ctx.component.optionsLabelPosition === 'left' || ctx.component.optionsLabelPosition === 'top') { %}
      <label class="form-check-label" for="{{ctx.id}}{{ctx.row}}-{{item.value}}">
        <span>{{ctx.t(item.label)}}</span>
      </label>
    {% } %}

    <{{ctx.input.type}}
      ref="input"
      {% for (var attr in ctx.input.attr) { %}
      {{attr}}="{{ctx.input.attr[attr]}}"
      {% } %}
      value="{{item.value}}"
      {% if (ctx.value && (ctx.value === item.value || (typeof ctx.value === 'object' && ctx.value.hasOwnProperty(item.value) && ctx.value[item.value]))) { %}
      checked=true
      {% } %}
      id="{{ctx.id}}{{ctx.row}}-{{item.value}}"
      aria-required="{{ctx.input.component.validate.required}}"
    >

    {% if (!ctx.component.optionsLabelPosition || ctx.component.optionsLabelPosition === 'right' || ctx.component.optionsLabelPosition === 'bottom') { %}
      <label class="form-check-label" for="{{ctx.id}}{{ctx.row}}-{{item.value}}">
        <span>{{ctx.t(item.label)}}</span>
      </label>
    {% } %}
  </div>
  {% }) %}
</div>