<div
  class="form-radio radio"
  ref="radioGroup"
  role="{{ctx.component.type === 'selectboxes' ? 'group' : 'radiogroup'}}"
  aria-required="{{ctx.input.component.validate.required}}"
  aria-labelledby="l-{{ctx.instance.id}}-{{ctx.component.key}}"
  {% if (ctx.component.description) { %}
    aria-describedby="d-{{ctx.instance.id}}-{{ctx.component.key}}"
  {% } %}
>
  {% ctx.values.forEach(function(item) { %}
  <div class="{{ctx.input.attr.type}} {{ ctx.component.optionsLabelPosition && ctx.component.optionsLabelPosition !== 'right' ? ps-0 : ''}} form-check{{ctx.inline ? '-inline' : ''}}" ref="wrapper">
    <label class="form-check-label label-position-{{ ctx.component.optionsLabelPosition }}" for="{{ctx.instance.root && ctx.instance.root.id}}-{{ctx.id}}-{{ctx.row}}-{{item.value}}">
      {% if (ctx.component.optionsLabelPosition === 'left' || ctx.component.optionsLabelPosition === 'top') { %}
      <span>{{ctx.t(item.label, { _userInput: true })}}</span>
      {% } %}
      <{{ctx.input.type}}
        ref="input"
        {% for (var attr in ctx.input.attr) { %}
        {{attr}}="{{ctx.input.attr[attr]}}"
        {% } %}
        value="{{item.value}}"
        {% if (ctx.value && (ctx.value === item.value || (typeof ctx.value === 'object' && ctx.value.hasOwnProperty(item.value) && ctx.value[item.value]))) { %}
          checked=true
        {% } %}
        {% if (item.disabled) { %}
          disabled=true
        {% } %}
        id="{{ctx.instance.root && ctx.instance.root.id}}-{{ctx.id}}-{{ctx.row}}-{{item.value}}"
        role="{{ctx.component.type === 'selectboxes' ? 'checkbox' : 'radio'}}"
      >
      {% if (!ctx.component.optionsLabelPosition || ctx.component.optionsLabelPosition === 'right' || ctx.component.optionsLabelPosition === 'bottom') { %}
      <span>{{ctx.t(item.label, { _userInput: true })}}</span>
      {% } %}
    </label>
  </div>
  {% }) %}
</div>
