<div class="ui grid">
  {% if (ctx.dayFirst && ctx.showDay) { %}
  <div class="four wide column">
    <label for="{{ctx.component.key}}-day" class="">{{ctx.t('Day')}}</label>
    {{ctx.day}}
  </div>
  {% } %}
  {% if (ctx.showMonth) { %}
  <div class="five wide column">
    <label for="{{ctx.component.key}}-month" class="">{{ctx.t('Month')}}</label>
    {{ctx.month}}
  </div>
  {% } %}
  {% if (!ctx.dayFirst && ctx.showDay) { %}
  <div class="four wide column">
    <label for="{{ctx.component.key}}-day" class="">{{ctx.t('Day')}}</label>
    {{ctx.day}}
  </div>
  {% } %}
  {% if (ctx.showYear) { %}
  <div class="seven wide column">
    <label for="{{ctx.component.key}}-year" class="">{{ctx.t('Year')}}</label>
    {{ctx.year}}
  </div>
  {% } %}
</div>
<input name="data[day]" type="hidden" class="form-control" lang="en" value="" ref="input">
