<div class="ui grid">
  {% if (dayFirst && showDay) { %}
  <div class="four wide column">
    <label for="{{component.key}}-day" class="">{{t('Day')}}</label>
    {{day}}
  </div>
  {% } %}
  {% if (showMonth) { %}
  <div class="five wide column">
    <label for="{{component.key}}-month" class="">{{t('Month')}}</label>
    {{month}}
  </div>
  {% } %}
  {% if (!dayFirst && showDay) { %}
  <div class="four wide column">
    <label for="{{component.key}}-day" class="">{{t('Day')}}</label>
    {{day}}
  </div>
  {% } %}
  {% if (showYear) { %}
  <div class="seven wide column">
    <label for="{{component.key}}-year" class="">{{t('Year')}}</label>
    {{year}}
  </div>
  {% } %}
</div>
<input name="data[day]" type="hidden" class="form-control" lang="en" value="" ref="input">
