<label class="{{ctx.input.labelClass}}">
    {{ctx.input.content}}
    {% if (!ctx.self.labelIsHidden()) { %}<span>{{ctx.input.label}}</span>{% } %}
</label>
<div ref="value">{% if (ctx.checked) { %}True{% } else { %}False{% } %}</div>
