<div ref="container" class="formio-modaledit-view-container">
  <button
    ref="edit"
    type="button"
    role="button"
    class="btn btn-xxs btn-warning formio-modaledit-edit">
    <i class="{{ctx.iconClass('edit')}}"></i>
  </button>
  <div ref="input" class="modaledit-view-inner reset-margins">{{ctx.content}}</div>
</div>
