<fieldset>
  <legend ref="header" class="{{ctx.component.collapsible ? 'formio-clickable' : ''}}">
    {{ctx.t(ctx.component.legend)}}
    {% if (ctx.component.tooltip) { %}
      <i ref="tooltip" class="{{ctx.iconClass('question-sign')}}"></i>
    {% } %}
  </legend>  {% if (!ctx.collapsed) { %}
  <div class="card-body" ref="{{ctx.nestedKey}}">
    {{ctx.children}}
  </div>
  {% } %}
</fieldset>
