<div id="{{ctx.id}}" class="field {{ctx.classes}}"{% if (ctx.styles) { %} styles="{{ctx.styles}}"{% } %} ref="component">
  {% if (ctx.visible) { %}
  {{ctx.children}}
  <div ref="messageContainer"></div>
  {% } %}
</div>
