<table class="table table-bordered">
  {{ctx.rows}}
  {% if (!ctx.disabled) { %}
  <tr>
    <td colspan="2">
      <button class="btn btn-primary formio-button-add-another" ref="addButton" aria-label="Add another {{ctx.component.label}}">
        <i class="{{ctx.iconClass('plus')}}"></i>
        {{ctx.t(ctx.addAnother)}}
      </button>
    </td>
  </tr>
  {% } %}
</table>
