<div class="builder-component" ref="dragComponent" tabindex="-1">
  {% if (!ctx.disableBuilderActions) { %}
    <div class="component-btn-group" data-noattach="true">
      <div
        role="button"
        aria-label="Remove button. Click to remove component from the form"
        tabindex="-1"
        class="btn btn-xxs btn-danger component-settings-button component-settings-button-remove"
        ref="removeComponent"
      >
        <i class="{{ctx.iconClass('remove')}}"></i>
      </div>
      <div
        role="button"
        aria-label="Copy button. Click to copy component"
        tabindex="-1"
        class="btn btn-xxs btn-default component-settings-button component-settings-button-copy"
        ref="copyComponent"
      >
        <i class="{{ctx.iconClass('copy')}}"></i>
      </div>
      <div
        role="button"
        aria-label="Paste below button. Click to paste component below the current component"
        tabindex="-1"
        class="btn btn-xxs btn-default component-settings-button component-settings-button-paste"
        ref="pasteComponent"
      >
        <i class="{{ctx.iconClass('save')}}"></i>
      </div>
      <div
        role="button"
        aria-label="Edit json button. Click to edit json of the current component"
        tabindex="-1"
        class="btn btn-xxs btn-default component-settings-button component-settings-button-edit-json" 
        ref="editJson"
      >
        <i class="{{ctx.iconClass('wrench')}}"></i>
      </div>
      <div
        role="button"
        aria-label="Move button"
        tabindex="-1"
        class="btn btn-xxs btn-default component-settings-button component-settings-button-move"
        ref="moveComponent"
      >
        <i class="{{ctx.iconClass('move')}}"></i>
      </div>
      <div
        role="button"
        aria-label="Edit button. Click to open component settings modal window"
        tabindex="-1"
        class="btn btn-xxs btn-secondary component-settings-button component-settings-button-edit"
        ref="editComponent"
      >
        <i class="{{ctx.iconClass('cog')}}"></i>
      </div>
    </div>
  {% } %}
  {{ctx.html}}
</div>
