<div class="ui {{component.editor ? '' : 'input'}} fluid {{ component.suffix ? ' right' : '' }}{{ (component.prefix || component.suffix) ? ' labeled' : '' }}">
{% if (component.prefix) { %}
<label class="ui label" ref="prefix">{{component.prefix}}</label>
{% } %}
<{{input.type}}
  ref="{{input.ref ? input.ref : 'input'}}"
  {% for (var attr in input.attr) { %}
  {{attr}}="{{input.attr[attr]}}"
  {% } %}
>{{input.content}}</{{input.type}}>
{% if (component.showCharCount) { %}
<span class="ui right floated" ref="charcount"></span>
{% } %}
{% if (component.showWordCount) { %}
<span class="ui right floated" ref="wordcount"></span>
{% } %}
{% if (component.suffix) { %}
<div class="ui label" ref="suffix">{{component.suffix}}</div>
{% } %}
</div>
