<div class="ui {{ctx.component.editor ? '' : 'input'}} fluid {{ ctx.component.suffix ? ' right' : '' }}{{ (ctx.component.prefix || ctx.component.suffix) ? ' labeled' : '' }}">
{% if (ctx.component.prefix) { %}
<label class="ui label" ref="prefix">{{ctx.component.prefix}}</label>
{% } %}
<{{ctx.input.type}}
  ref="{{ctx.input.ref ? ctx.input.ref : 'input'}}"
  {% for (var attr in ctx.input.attr) { %}
  {{attr}}="{{ctx.input.attr[attr]}}"
  {% } %}
>{{ctx.input.content}}</{{ctx.input.type}}>
{% if (ctx.component.showCharCount) { %}
<span class="ui right floated" ref="charcount"></span>
{% } %}
{% if (ctx.component.showWordCount) { %}
<span class="ui right floated" ref="wordcount"></span>
{% } %}
{% if (ctx.component.suffix) { %}
<div class="ui label" ref="suffix">{{ctx.component.suffix}}</div>
{% } %}
</div>
