<div class="card form-builder-panel accordion-item" ref="group-panel-{{ctx.groupKey}}">
  <div class="card-header form-builder-group-header" id="heading-{{ctx.groupKey}}">
    <h5 class="mb-0 mt-0 d-grid accordion-header">
      <button
        class="btn builder-group-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#group-{{ctx.groupKey}}"
        data-bs-parent="#{{ctx.groupId}}"
        aria-expanded="{{ctx.group.default}}"
        aria-controls="group-{{ctx.groupKey}}"
        ref="sidebar-anchor"
      >
        {{ctx.t(ctx.group.title, { _userInput: true })}}
      </button>
    </h5>
  </div>
  <div
    id="group-{{ctx.groupKey}}"
    class="accordion-collapse collapse {{ctx.group.default ? ' show' : ''}}"
    data-bs-parent="#{{ctx.groupId}}"
    data-default="{{ctx.group.default}}"
    aria-labelledby="heading-{{ctx.groupKey}}"
    ref="sidebar-group"
  >
    <div id="group-container-{{ctx.groupKey}}" class="d-grid gap-1 no-drop p-2 w-100" ref="sidebar-container">
      {% if (ctx.group.componentOrder.length || ctx.subgroups.length) { %}
        {% !ctx.group.componentOrder || ctx.group.componentOrder.forEach(function(componentKey) { %}
          <span
            ref="sidebar-component"
            data-group="{{ctx.groupKey}}"
            data-key="{{ctx.group.components[componentKey].key}}"
            data-type="{{ctx.group.components[componentKey].schema.type}}"
            class="btn btn-outline-primary btn-sm formcomponent drag-copy m-0"
            tabindex="{{ctx.keyboardActionsEnabled ? -1 : 0}}"
          >
            {% if (ctx.group.components[componentKey].icon) { %}
              <i class="{{ctx.iconClass(ctx.group.components[componentKey].icon)}}" style="margin-right: 5px;"></i>
            {% } %}
            {{ctx.t(ctx.group.components[componentKey].title, { _userInput: true })}}
          </span>
        {% }) %}
        {{ctx.subgroups.join('')}}
      {% } else { %}
        <div>{{ctx.t('No Matches Found')}}</div>
      {% } %}
    </div>
  </div>
</div>
