<div class="{{ctx.className}}">
  <div style="position: relative;">
    {{ ctx.wizardHeader }}
    <div class="wizard-page" ref="{{ctx.wizardKey}}">
      {{ctx.components}}
    </div>
    {{ ctx.wizardNav }}
  </div>
</div>