<ul class="nav nav-tabs">
  {% ctx.component.components.forEach(function(tab, index) { %}
  <li class="nav-item{{ ctx.currentTab === index ? ' active' : ''}}" role="presentation" ref="{{ctx.tabLikey}}">
    <a class="nav-link{{ ctx.currentTab === index ? ' active' : ''}}" href="#{{tab.key}}" ref="{{ctx.tabLinkKey}}">{{ctx.t(tab.label)}}</a>
  </li>
  {% }) %}
</ul>
<div class="tab-content">
  {% ctx.component.components.forEach(function(tab, index) { %}
  <div role="tabpanel" class="tab-pane{{ ctx.currentTab === index ? ' active' : ''}}" ref="{{ctx.tabKey}}"">{{ctx.tabComponents[index]}}</div>
  {% }) %}
</div>
