<div class="formio-sketchpad-body">
  <div class="formio-sketchpad-header">
    <div class="btn-toolbar formio-sketchpad-toolbar" role="toolbar">
      {% !ctx.disabled && ctx.buttonGroups.forEach(function(group) { %}
        <div class="btn-group formio-sketchpad-toolbar-group" role="group">
          {% group.forEach(function(button) { %}
            <div class="btn formio-sketchpad-toolbar-button formio-sketchpad-toolbar-button-{{button.key}}" ref="{{button.key}}" title="{{button.title}}">
              <i class="{{button.icon}}"></i>
              {% if (button.input) { %}
                <input type="{{button.input.type}}" class="formio-sketchpad-toolbar-input {{button.input.class}}" ref="{{button.key}}-input"
                {{ ctx.self.buttonAttributes(button) }}/>
              {% } %}
            </div>
          {% }) %}
        </div>
      {% }) %}
    </div>
  </div>
  <div class="formio-sketchpad-container" ref="drawingContainer">
    <div class="formio-sketchpad-background" ref="background">
      {% if (!ctx.component.image && !ctx.component.imageUrl) { %}
          Background image is not specified. Sketchpad doesn\'t work without background image
      {% } %}
      {% if (ctx.component.imageUrl && !(ctx.component.imageType === 'svg')) { %}
        <img ref="backgroundImage" alt=""/>
      {% } %}
    </div>
    <div class="formio-sketchpad-canvas" ref="canvas"></div>
  </div>
  <div class="formio-sketchpad-footer">
    <div class="formio-sketchpad-meta-info"><span><span ref="totalMultiplier">{{ctx.zoomInfo.totalMultiplier}}</span>x</span>
  </div>
</div></div>
