<div class="formio-view-sketchpad-container" ref="sketchpadContainer">
  <div class="formio-view-sketchpad-canvas" ref="sketchpadCanvas"></div>
  <div class="formio-view-sketpad-background" ref="sketchpadBackground">SVG Background missing</div>
</div>
