<label
  class="col-form-label {{ctx.label.className}} {{ctx.label.hidden ? 'sr-only' : ''}}"
  id="l-{{ctx.instance.id}}-{{ctx.component.key}}"
  for="{{ctx.instance.id}}-{{ctx.component.key}}"
>
  {{ ctx.t(ctx.component.label) }}
  {% if (ctx.component.tooltip) { %}
    <i ref="tooltip" class="{{ctx.iconClass('question-sign')}} text-muted" tabindex="0" aria-label="{{ctx.component.tooltip}}"></i>
  {% } %}
</label>