<label class="col-form-label {{ctx.label.className}}">
  {{ ctx.t(ctx.component.label) }}
  {% if (ctx.component.tooltip) { %}
    <i ref="tooltip" class="{{ctx.iconClass('question-sign')}} text-muted"></i>
  {% } %}
</label>
