<div class="formio-component-modal-wrapper formio-component-modal-wrapper-{{ ctx.component.type }}" ref="componentModalWrapper">
  <div aria-label="modal-wrapper" ref="openModalWrapper-{{ ctx.component.id }}"></div>
  <div class="formio-dialog formio-dialog-theme-default component-rendering-hidden" ref="modalWrapper">
    <div class="formio-dialog-overlay" ref="modalOverlay"></div>
    <div class="formio-dialog-content" ref="modalContents">
      <div ref="modalContents">
        {% if (ctx.visible) { %}
        {{ctx.children}}
        {% } %}
        <div class="formio-dialog-buttons">
          <button aria-label="modal-save" class="btn btn-success formio-dialog-button" ref="modalSave-{{ ctx.component.id }}">{{ctx.t('Save')}}</button>
        </div>
      </div>
      <button class="formio-dialog-close float-right btn btn-secondary btn-sm" aria-label="modal-close" ref="modalClose-{{ ctx.component.id }}"></button>
    </div>
  </div>
</div>
