<div class="formio-component-modal-wrapper" ref="componentModalWrapper">
  <div class="formio-dialog formio-dialog-theme-default component-rendering-hidden" ref="modalWrapper">
    <div class="formio-dialog-overlay" ref="modalOverlay"></div>
    <div class="formio-dialog-content" ref="modalContents">
      <div ref="modalContents">
        {% if (ctx.visible) { %}
          {{ctx.children}}
        {% } %}
        <div style="margin-top: 10px;">
          <button class="btn btn-success" style="margin-right: 10px;" ref="saveButton">{{ctx.t('Save')}}</button>
          <button class="btn btn-secondary" style="margin-right: 10px;" ref="cancelButton">{{ctx.t('Cancel')}}</button>
        </div>
      </div>
      <button class="formio-dialog-close float-right btn btn-secondary btn-sm" aria-label="close" ref="modalClose"></button>
    </div>
  </div>
</div>
