<div class="builder-component" ref="dragComponent">
  <div class="component-btn-group" data-noattach="true">
    <div class="ui button mini icon primary component-settings-button-edit", ref="editComponent">
      <i class="{{ctx.iconClass('cog')}}"></i>
    </div>
    <div class="ui button mini icon component-settings-button-copy" ref="copyComponent">
      <i class="{{ctx.iconClass('copy')}}"></i>
    </div>
    <div class="ui button mini icon component-settings-button-paste" ref="pasteComponent">
      <i class="{{ctx.iconClass('save')}}"></i>
    </div>
    <div class="ui button mini icon component-settings-button-edit-json" ref="editJson">
      <i class="{{ctx.iconClass('wrench')}}"></i>
    </div>
    <div class="ui button mini icon component-settings-button-move" ref="moveComponent">
      <i class="{{ctx.iconClass('move')}}"></i>
    </div>
    <div class="ui button mini icon secondary component-settings-button-remove" ref="removeComponent">
      <i class="{{ctx.iconClass('remove')}}"></i>
    </div>
  </div>
  {{ctx.html}}
</div>
