<div class="formio builder row formbuilder">
  <div class="col-xs-5 col-sm-3 col-md-2 col-xl-2 formcomponents">       <!--  making the list of components size smaller -->
    {{ctx.sidebar}}
  </div>
  <div class="col-xs-7 col-sm-9 col-md-10 col-xl-10 formarea" ref="form">
    {{ctx.form}}
  </div>
</div>
