<div class="fields {{ctx.inline ? 'inline' : 'grouped'}}">
  {% ctx.values.forEach(function(item) { %}
  <div class="field">
    <div class="ui {{ctx.input.attr.type==='radio' ? 'radio' : ''}} checkbox" ref="wrapper">
      <{{ctx.input.type}}
        ref="input"
        {% for (var attr in ctx.input.attr) { %}
        {{attr}}="{{ctx.input.attr[attr]}}"
        {% } %}
        value="{{item.value}}"
        {% if (ctx.value === item.value || (typeof ctx.value === 'object' && ctx.value.hasOwnProperty(item.value) && ctx.value[item.value])) { %}
          checked=true
        {% } %}
        id="{{ctx.id}}{{ctx.row}}-{{item.value}}"
      >
      <label class="" for="{{ctx.id}}{{ctx.row}}-{{item.value}}">
        <span>{{ctx.t(item.label)}}</span>
      </label>
    </div>
  </div>
  {% }) %}
</div>
