<div class="formio builder ui grid formbuilder">
  <div class="four wide column formcomponents">
    {{ctx.sidebar}}
  </div>
  <div class="twelve wide column formarea" ref="form">
    {{ctx.form}}
  </div>
</div>
