<div id="{{ctx.groupId}}" class="panel-group builder-sidebar{{ctx.scrollEnabled ? ' builder-sidebar_scroll' : ''}}" ref="sidebar">
  {% ctx.groups.forEach(function(group) { %}
    {{ group }}
  {% }) %}
</div>
