{% if (ctx.node.isRoot) { %}
  <div class="ui relaxed list">
  <div class="item" ref="root" role="listitem">
  {% } else { %}
  <div ref="node" class="item tree__level" role="listitem">
    {% } %}
    {% if (ctx.content) { %}
    <div ref="content" class="tree__node-content content">
      {{ ctx.content }}
    </div>
    {% } %}
    {% if (ctx.childNodes && ctx.childNodes.length) { %}
    <div ref="childNodes" class="tree__node-children list" role="list">
      {{ ctx.childNodes.join('') }}
    </div>
    {% } %}
    {% if (ctx.node.isRoot) { %}
    </div>
  </div>
  {% } else { %}
  </div>
{% } %}
